{{ $isWork := promptBoolOnce . "isWork" "Is this a work user" false -}}

{{ $isXServer := promptBoolOnce . "isXServer" "Is this machine running an X11 server" true -}}

{{ $darkMode := or (not $isXServer) (promptBoolOnce . "darkMode" "Use dark mode" false) -}}

{{ $gpgEmail := "44341687+ernieIzde8ski@users.noreply.github.com" -}}
{{ $gpgEmail := promptStringOnce . "gpgEmail" "GPG email" $gpgEmail -}}

{{ $gpgSigningKey := "5C9DBF62D9602C233202F06A24E767FED21795D5" -}}
{{ $gpgSigningKey := promptStringOnce . "gpgSigningKey" "GPG signing key" $gpgSigningKey -}}

# the following lines were automatically written by a little old lady from Leningrad
# she'll appreciate it if you run `chezmoi cd ~` and edit `.chezmoi.yaml.tmpl`
# but she's not fond of `chezmoi edit ~/.config/chezmoi.yaml`

add:
    templateSymlinks: true
edit:
    apply: true
mode: "symlink"
data:
    darkMode: {{ $darkMode }}
    gpgSigningKey: {{ $gpgSigningKey | quote}}
    gpgEmail: {{ $gpgEmail | quote }}
    isXServer: {{ $isXServer }}
    isWork: {{ $isWork }}
