#!/bin/zsh


# xfree86 is fucking stupid
xmodmap -e "keycode 191 = F13"
xmodmap -e "keycode 192 = F14"
xmodmap -e "keycode 193 = F15"
xmodmap -e "keycode 194 = F16"


if command -v pipewire; then
    # if these processes are already being used, it's ok,
    # pipewire will stop automatically anyways
    pipewire &
    # black magick: pipewire is VERY unhappy with spawning `pipewire-pulse` & `wireplumber` manually.
    # May8e it does this already? I don't know.
fi

{{ if not .isWork -}}
if mountpoint -q /mnt/uvirith; then
    if command -v nicotine; then
        nicotine --hidden &
    fi

    if command -v clementine; then
        clementine &
    fi
fi
{{ end }}

if [[ -d /media/caldera ]] && ! mountpoint -1 /media/caldera; then
    sh -c "sleep 5 && pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY mount /media/caldera" &!
fi
