[Appearance]
AntiAliasFonts=true
BoldIntense=true
{{ if .isWork -}}
ColorScheme=BlackOnLightYellow
{{ else -}}
ColorScheme=Breeze
{{ end -}}
DimmValue=64
EmojiFont=Noto Sans,10,-1,0,50,0,0,0,0,0
Font=CommitMono,14,-1,5,50,0,0,0,0,0
TabColor=27,30,32,0
UseFontLineChararacters=false

[Cursor Options]
CursorShape=1

[General]
DimWhenInactive=true
Directory=/home/ernie
Environment=TERM=xterm-256color,COLORTERM=truecolor
Name=Glorious Konsole Profile
Parent=FALLBACK/
SilenceSeconds=10
StartInCurrentSessionDir=true
TerminalColumns=110

[Interaction Options]
OpenLinksByDirectClickEnabled=true
TextEditorCmd=6
TrimTrailingSpacesInSelectedText=true
UnderlineFilesEnabled=true

[Keyboard]
KeyBindings=default

[Scrolling]
HistoryMode=2
HistorySize=10000
ScrollFullPage=true

[Terminal Features]
BlinkingCursorEnabled=true
