default_context:
    author_name: "Ernest Izdebski"
    author_email: "44341687+ernieIzde8ski@users.noreply.github.com"
    github_username: "ernieIzde8ski"
    initial_version: "0.1.0"
cookiecutters_dir: "{{ .chezmoi.homeDir }}/.local/share/cookiecutters/"
replay_dir: "{{ .chezmoi.homeDir }}/.local/share/cookiecutters_replay/"
abbreviations:
    cct: "https://github.com/ernieIzde8ski/cc-templates.git"
