default_context:
    author_name:  "Ernie Serrano"
    author_email: {{ .gpgEmail | quote }}
    github_username: "ernieIzde8ski"
    initial_version: "0.1.0"
cookiecutters_dir: "{{ .chezmoi.homeDir }}/.local/share/cookiecutters/"
replay_dir: "{{ .chezmoi.homeDir }}/.local/share/cookiecutters_replay/"
abbreviations:
    cct: "https://github.com/ernieIzde8ski/cc-templates.git"
