[General]
autoSaveImage=true
clipboardGroup=PostScreenshotCopyImage
onLaunchAction=DoNotTakeScreenshot
rememberLastRectangularRegion=Never

[GuiConfig]
captureMode=5
includePointer=true
quitAfterSaveCopyExport=true
window-position=530,241

[Save]
defaultSaveLocation=file://{{.chezmoi.homeDir}}/Pictures/Screenshots
saveFilenameFormat=%Y-%M-%D %H-%m-%S %T
